.activity__heading {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.activity__list {
  display: flex;
}

.activity__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.activity-description__text {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 82px;
}
