.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

.benefits__list {
  //   display: flex;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: unset;
    margin: unset;
  }
}

.benefits__item {
  // width: 270px;
  width: 100%;

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.benefits-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits__heading {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
