.team {
  background-color: #f5f4fa;
}

.team__heading {
  // margin-bottom: 50px;
  margin-bottom: 30px;

  font-weight: 700;
  // font-size: 36px;
  font-size: 28px;
  // line-height: 1.17;
  line-height: calc(33 / 28);
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team__list {
  margin-bottom: -30px;
  //   display: flex;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  margin-bottom: 30px;
  // &:not(:last-child) {
  //   margin-bottom: 30px;
  // }

  @media screen and (min-width: 768px) {
    // &:not(:last-child) {
    //   margin-bottom: unset;
    // }
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

// .team__photo {
//   width: 450px;
//   height: 460px;

//   @media screen and (min-width: 768px) {
//     width: 354px;
//     height: 374px;
//   }
// }

// .team__list .team__item + {
//   .team__item {
//     margin-left: 30px;
//   }
// }

.employees {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 1px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.employees__heading {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.employees__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.employees-socials {
  display: flex;
  justify-content: center;
}
