.modal__heading {
  display: block;
  margin-bottom: 12px;

  font-family: Roboto;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-field__lable {
  display: block;
  margin-bottom: 4px;

  font-family: Roboto;

  font-size: 12px;
  line-height: calc(14 / 12);

  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.modal-field__wrap {
  display: block;
  position: relative;
}

.modal-field__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-field__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-field__input:hover + &,
  .modal-field__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-field__comments {
  padding-top: 12px;
  padding-left: 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: transparent;
  font-size: 14px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-family: Roboto;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-check {
  margin-bottom: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal-check__label {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Roboto;

  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.modal-link {
  margin-left: 4px;
}

.modal-check__wrapper {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check__icon {
  fill: var(--primary-white-color);
}

.modal-check__checkbox:checked + .modal-check__label > {
  .modal-check__wrapper {
    background-color: var(--accent-color);
    border: transparent;
  }
}

.check-btn {
  display: block;
  margin: 0 auto;

  width: 200px;
  height: 50px;

  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-radius: 4px;
  border: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
