.menu-open {
  justify-content: space-between;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-close {
  // display: flex;
  // margin-left: auto;
  // align-items: center;
  // justify-content: center;
  position: absolute;
  top: 10px;
  right: 15px;

  border: none;
  background-color: transparent;
  color: var(--primary-text-color);
}

.mob-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;

  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  padding: 48px 40px;

  background-color: var(--primary-white-color);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.mob-menu__nav {
  flex-grow: 1;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  text-align: center;
  letter-spacing: 0.02em;
}

.mob-menu__tel {
  display: block;
  margin-bottom: 32px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);

  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.mob-menu__mail {
  display: block;
  margin-bottom: 64px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.menu-burger {
  cursor: pointer;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

// .mob-menu__wrapper {
//   position: fixed;
//   bottom: 0;
// }

.mob-menu__socials {
  display: flex;
  flex-wrap: wrap;
}

.mob-menu__socials-link {
  display: block;
  cursor: pointer;

  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-menu__socials-item {
  &:not(:last-child) {
    padding-right: 4px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &:not(:first-child) {
    padding-left: 4px;
  }

  @media screen and (min-width: 480px) {
    &:not(:last-child) {
      padding-right: 10px;
    }

    &:not(:first-child) {
      padding-left: 10px;
    }
  }
}
