.employees-socials__item {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.employees-socials__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.employees-socials__icon {
  fill: var(--primary-link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .employees-socials__link:hover &,
  .employees-socials__link:focus & {
    fill: var(--primary-white-color);
  }
}
